.navbar{
    background-color: brown;
    display: flow-root;
}
.navbar ul{
    display: flex;
    list-style: none;
    float: right;
    height: fit-content;
}
.navbar li{
    float: right;
}
.navbar{
    height: auto;
    background-color: blue;
    border-width: 0ch;
}
.navbutton{
    padding-top: 0%;
    -webkit-margin-top-collapse: collapse;
    padding:20 20 20 20;
    margin-top: 0%;
    margin-bottom: 0%;
}
body{
    margin: 0 0 0 0;
}